* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f08080;
  color: #001427;
  width: 200px;
  height: 250px;
  gap: 10px;
  justify-content: center;
}

.imagen_pokemon {
  border-radius: 50%;
  background-color: white;
  width: 80px;
  height: 80px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10%;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
}
